---
import Layout from "~/layouts/Layout.astro";
import { Counter } from "~/components/Foo";
---

<Layout title="Welcome to Astro.">
  <Counter client:visible>Foo!!!</Counter>
  <p>hoge</p>
</Layout>
