---
import Layout from "~/layouts/Layout.astro";
import { Counter } from "~/components/Foo";
---

<Layout title="Welcome to Astro.">
  <main>
    <h1>Welcome to <span>Astro</span></h1>
    <Counter client:visible>Foo!!!</Counter>
    <p>hoge</p>
  </main>
</Layout>
