<div class="frame bg-gray-200 dark:bg-slate-900 text-black dark:text-white">
  <header class="dark:bg-slate-700">
    <slot name="header" />
  </header>

  <main class="frame-main">
    <slot name="main" />
  </main>

  <footer class="dark:bg-slate-700">
    <slot name="footer" />
  </footer>
</div>
