---
import "~/styles/main.css";
import { Header } from "~/components/Header";

export interface Props {
  title: string;
}

const { title } = Astro.props as Props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <div class="frame bg-gray-200 dark:bg-slate-800 text-black dark:text-white">
      <header>
        <Header title={title} />
      </header>
      <main class="frame-main">
        <slot />
      </main>
      <footer>footer</footer>
    </div>
  </body>
</html>
